.moves{

    header{
        display: flex;
        align-items: center;
        padding: 1.3em;
        .fa-s{
            margin-inline-end: 10px;
           &::before{
            content: '\e528';
           }
        }
        margin-bottom: 1em;

    }



  
    .move{
        // width: 50%;
        border-bottom: 1px rgb(141, 141, 141) solid;
        >*{
            display: flex;
            align-items: center;
            line-height: 1.5em;
            :nth-child(2){
                position: absolute;
                margin-inline-start: 25%;
            }
        }
        .fa-b{
            &::before{
                content: '\f15a';
                font-size: 14px;
                margin-inline-end: 2px;
                // color: black;
            }
        }
        a{
            border-bottom: 1px rgb(141, 141, 141) solid;
        }

        margin-bottom: 10px;

        .status{
            color: rgb(86, 158, 107);
        }

        .at{
            color: rgb(146, 146, 146);
            font-size: 12px;
        }
    }
}