.home{
    background-color: rgba(16, 18, 19, 0.342);


    header{
        font-size: 1.5em;
        border-bottom: 1px rgba(141, 141, 141, 0.171) solid;
        line-height: 2em;
        margin-bottom: 16px;
    }

    
   

    padding-bottom: 1em;
}