.landing{
   // width: 100vw;
   // height: 100vh;

   .bg{
      position: relative;
      width: 100vw;
      height: 150vh;
      background: white;
      background-color: white;
      // border: 1px red solid;
      position: absolute;
      top: $header-height;
      z-index: -1;

      img{
         width: 32vw;
         position: absolute;
         right: 5em;
         // top: $header-height;
      }
   }
}

.signup-page {
   padding: 0 $layout-padding;
   z-index: 1;

   .doodle-container{
      height: 600px;
      border: 1px black solid;
      .doodle{
         background-image: url('https://i.ibb.co/7zDh80P/pop-Coin-doodle.png');
         background-position: center;
         background-size: contain;
      }
   }


   .hero {
      // margin-top: 5vw;
      font-size: 1.5rem;
      @media only screen and (max-width: 1000px) {
         font-size: 10px;
         h1 {
            // text-align: center;
         }
      }
      h1 {
         color: $clr1;
         font-size: 5em;
         line-height: 2em;
      }
      p {
         font-size: 1.2em;
         color: black;
         width: 50%;
         margin-bottom: 5vw;
         @media only screen and (max-width: $tablet-breakpoint) {
            width: 100%;
         }
      }

      // margin-bottom: 10vw;
   }

   .btn {
      margin-bottom: 3vw ;
      width: max(30%, 200px);
      // padding: 0 4em;
      line-height: 3.5em;
      @media only screen and (max-width: $tablet-breakpoint) {
         width: 100%;
      }
   }

   .galleries {
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: $tablet-breakpoint) {
         // flex-direction: column-reverse;
      }
      .app-gallery {
         // border: 1px black solid;
         width: 60%;
         margin: 0 auto;
         // margin-top: 7vw;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;
         gap: 2vw 0;
         //    flex-direction: column;
         //    border: 1px black solid;
         margin-bottom: 3em;
         .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 280px;
            @media only screen and (min-width: 1360px) {
               flex-basis: 350px;
            }
            span {
               padding: 1em 0;
               font-size: min(1.5em, 5vw);
               color: black;
            }
         }

         img {
            // width: 150%;
         }
      }
   }

   .icons-gallery {
      display: flex;
      justify-content: space-between;
      width: 75%;
      margin: 0 auto;
      @media only screen and (max-width: $tablet-breakpoint) {
         flex-direction: column;
         width: 100%;
         .item {
            margin-block-end: 1em;
            width: 100%;

            span {
               border-bottom: 1px rgba(185, 185, 185, 0.075) solid;
               width: 100%;
               text-align: center;
            }
         }
      }
      .item {
         display: flex;
         flex-direction: column;
         align-items: center;
         &.safe{
            color: $success;
         }
         &.fast{
            color: $danger;
         }
         &.reliable{
            color: $blu;
         }
         span {
            padding: 1em 0;
            font-size: 1.8em;
         }

        
      }
      img {
         width: max(5vw, 50px);
         height: max(5vw, 50px);
      }
   }
}
